@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

img {
  object-fit: contain;
}

section {
  height: 100vh;
}

section:nth-of-type(2n-1) {
  background-color: gray;
}

.wrapper-div {
  height: 100%;
}

.pfp-div {
  /* background-color: #dee6ec; */
  max-height: 244px;
}

.compilation-gif {
  max-height: 1320px;
  max-width: 660px;
}

.project-div {
  max-height: 244px;
  margin-top: 32px;
}

#soloWorksCarousel {
  height: 80%;
}

.carousel-inner, .carousel-item {
  height: 100%;
}
