@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

section {
  height: 100vh;
}

.intro-section {
  background-color: gray; /* #c3ced8; */
}

.wrapper-div {
  height: 100%;
}

.pfp-div {
  /* background-color: #dee6ec; */
  max-height: 244px;
}

.compilation-gif {
  max-height: 1320px;
  max-width: 660px;
  object-fit: contain;
}
